<!DOCTYPE html>
<html>
<head>
  <meta charset="ISO-8859-1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{% block title %}{{ _('Default') }}{% end %}</title>
  {% block meta %} {% end %}
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 4.4.1 -->
  <!-- <link rel="stylesheet" href="/static/vendors/bootstrap/css/bootstrap.min.css"> -->
  <!-- Font Awesome -->
  <link rel="stylesheet" href="/static/vendors/font-awesome/css/font-awesome.min.css">
  <!-- Datatables -->
  <link rel="stylesheet" href="/static/vendors/datatables/datatables.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="/static/vendors/ionicons/css/ionicons.min.css">
  <!-- morris charts -->
  <link rel="stylesheet" href="/static/vendors/morrisjs/morris.css">
  <!-- timepicker -->
  <link rel="stylesheet" href="/static/vendors/jonthornton-timepicker/jquery.timepicker.min.css">
  <!-- Theme style -->

  <link rel="stylesheet" href="/static/css/adminlte.min.css">
  <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
  <!-- <link rel="stylesheet" href="/static/css/skins/skin-blue.min.css"> -->
  <!-- Crafty style -->
  <link rel="stylesheet"
        href="/static/css/crafty.css?v={{ data['version_data']['major'] }}.{{ data['version_data']['minor'] }}.{{ data['version_data']['sub'] }}">


  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  <!-- Google Font -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

  <script>
    //determines if the user has a set theme
    function detectColorScheme(){
        var theme="light";    //default to light

        //local storage is used to override OS theme settings
        if(localStorage.getItem("theme")){
            if(localStorage.getItem("theme") == "dark"){
                var theme = "dark";
            }
        } else if(!window.matchMedia) {
            //matchMedia method not supported
            return false;
        } else if(window.matchMedia("(prefers-color-scheme: dark)").matches) {
            //OS theme setting detected as dark
            var theme = "dark";
        }

        //dark theme preferred, set document with a `data-theme` attribute
        if (theme=="dark") {
            document.documentElement.setAttribute("data-theme", "dark");
        }
    }
    detectColorScheme();
  </script>
<link rel="shortcut icon" type="image/png" href="../static/images/favicon.png"/>
</head>

<body class="sidebar-mini layout-fixed layout-navbar-fixed">
<!-- Site wrapper -->
<div class="wrapper">

    <!-- Header Navbar: style can be found in header.less -->
    <nav class="main-header navbar navbar-expand navbar-dark">
      <!-- Sidebar toggle button-->
      <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a></li>
      </ul>

      <ul class="navbar-nav ml-auto">
        <!-- Messages: style can be found in dropdown.less-->

        <!-- Tasks: style can be found in dropdown.less -->
        <li class="nav-item">
          <a href="#" id="update_check" class="nav-link" aria-expanded="true" >
            <i class="nav-icon fa fa-sync-alt"></i> {{ _('Check For Updates') }}
          </a>
        </li>

        <!-- User Account: style can be found in dropdown.less -->
        <li class="nav-item dropdown user user-menu">
          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
            <i class="nav-icon fa fa-user-circle" aria-hidden="true"></i> 
            <span class="hidden-xs"> {{ data['user_data']['username'] }}</span>
          </a>
          <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
            <div class="dropdown-item">
              <div id="theme-switch" class="custom-control custom-switch">
                <input id="input-switch" type="checkbox" class="custom-control-input">
                <label class="custom-control-label" for="input-switch">{{ _("Crafty's Darkside") }} <span class="far fa-moon"></span></label>
              </div>
            </div>
            <div class="dropdown-divider"></div>
            <!-- User image -->
            <span class="dropdown-header">{{ _('Role:') }} {{ _(data['user_data']['role_name']) }}</span>
            <div class="dropdown-divider"></div>
            <!-- Menu Body -->
            <div class="dropdown-item">
              &nbsp;<b>{{ _('Permissions') }}</b><br />
              <div>
                  {% if data['user_data']['svr_control'] %}
                  <span class="text-green"><i class="fas fa-thumbs-up" aria-hidden="true"></i></span> {{ _('Server Control') }}
                  {% else %}
                  <span class="text-red"><i class="fas fa-thumbs-down" aria-hidden="true"></i></span>
                  {% end %}
              </div>
              <div>
                  {% if data['user_data']['svr_console'] %}
                  <span class="text-green"> <i class="fas fa-thumbs-up" aria-hidden="true"></i></span> {{ _('Server Console') }}
                  {% else %}
                  <span class="text-red"> <i class="fas fa-thumbs-down" aria-hidden="true"></i></span> {{ _('Server Console') }}
                  {% end %}
              </div>
              <div>
                  {% if data['user_data']['logs'] %}
                  <span class="text-green"> <i class="fas fa-thumbs-up" aria-hidden="true"></i></span> {{ _('Server Logs') }}
                  {% else %}
                  <span class="text-red"> <i class="fas fa-thumbs-down" aria-hidden="true"></i></span> {{ _('Server Logs') }}
                  {% end %}
              </div>
              <div>
                  {% if data['user_data']['backups'] %}
                  <span class="text-green"> <i class="fas fa-thumbs-up" aria-hidden="true"></i></span> {{ _('Server Backups') }}
                  {% else %}
                  <span class="text-red"> <i class="fas fa-thumbs-down" aria-hidden="true"></i></span> {{ _('Server Backups') }}
                  {% end %}
              </div>
              <div>
                  {% if data['user_data']['schedules'] %}
                  <span class="text-green"> <i class="fas fa-thumbs-up" aria-hidden="true"></i></span> {{ _('Server Schedule') }}
                  {% else %}
                  <span class="text-red"> <i class="fas fa-thumbs-down" aria-hidden="true"></i></span> {{ _('Server Schedule') }}
                  {% end %}
              </div>
              <div>
                  {% if data['user_data']['config'] %}
                    <span class="text-green"> <i class="fas fa-thumbs-up" aria-hidden="true"></i></span> {{ _('Server Config') }}
                    {% else %}
                    <span class="text-red"> <i class="fas fa-thumbs-down" aria-hidden="true"></i></span> {{ _('Server Config') }}
                    {% end %}
              </div>
              <div>
                  {% if data['user_data']['api_access'] %}
                  <span class="text-green"> <i class="fas fa-thumbs-up" aria-hidden="true"></i></span> {{ _('API Access') }}
                  {% else %}
                  <span class="text-red"> <i class="fas fa-thumbs-down" aria-hidden="true"></i></span> {{ _('API Access') }}
                  {% end %}
              </div>
              <!-- /.row -->
            </div>
            <!-- Menu Footer-->
            <div class="dropdown-divider"></div>
            <a href="/" class="dropdown-item dropdown-footer">{{ _('Sign out') }}</a>
          </div>
        </li>
        <!-- Control Sidebar Toggle Button -->
      </ul>
    </nav>


  <!-- =============================================== -->

  <!-- Left side column. contains the sidebar -->

  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Logo -->
    <a href="/admin/dashboard" class="brand-link">
      <img src="/static/images/crafty.png"
           alt="Crafty Controller Logo" class="brand-image" width="32px" style="width:32px;">
      <span class="brand-text font-weght-light"><b>Crafty</b> Controller</span>
    </a>

    <!-- sidebar: style can be found in sidebar.less -->
    <div class="sidebar">

      <!-- Sidebar user panel -->

      <!-- search form -->

      <!-- sidebar menu: : style can be found in sidebar.less -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu">
          <li class="nav-item treeview"><a href="/admin/dashboard" class="nav-link"><i class="nav-icon fa fa-tachometer-alt"></i> <p> {{ _('Dashboard') }}</p></a></li>

          {% if data['user_data']['config'] %}
          <li class="nav-item  treeview"><a href="/admin/config" class="nav-link"><i class="nav-icon fa fa-cog" aria-hidden="true"></i> <p> {{ _('Config') }}</p> </a></li>
          {% end %}

          <li class="nav-item  treeview"><a href="/admin/change_password" class="nav-link"><i class="nav-icon fa fa-key" aria-hidden="true"></i> <p> {{ _('Change Password') }}</p></a></li>

          <li class="nav-item  treeview"><a href="https://gitlab.com/crafty-controller/crafty-web/-/wikis/home" class="nav-link" target="_blank"><i class="nav-icon fa fa-book"></i> <p> {{ _('Documentation') }}</p></a></li>

          <li class="nav-item  treeview"><a href="https://discord.gg/XR5x3ZM" class="nav-link" target="_blank"><i class="nav-icon fa fa-comment"></i> <p> {{ _('Join The Discord') }}</p></a></li>
        </ul>
      </nav>
    </div>
    <!-- /.sidebar -->
  </aside>

  <!-- =============================================== -->

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    {% block content %}
    {% end %}
  </div>
  <!-- /.content-wrapper -->

  <footer class="main-footer">
    <div class="float-right d-none d-sm-inline">
      <b>{{ _('Crafty Controller Version:') }} </b>
      {% block version %}
        {{ data['version_data']['major'] }}.
        {{ data['version_data']['minor'] }}.
        {{ data['version_data']['sub'] }}

      {% end %}
    </div>
    <strong>Copyright &copy; 2019 - 2021 <a href="https://craftycontrol.com">{{ _('Crafty Controller') }}</a>.</strong> {{ _('All rights reserved.') }}
  </footer>

</div>
<!-- ./wrapper -->

<!-- jQuery 3 -->
<script src="/static/vendors/jquery/jquery.min.js"></script>
<!-- Bootstrap 4.4.1 -->
<script src="/static/vendors/bootstrap/js/bootstrap.min.js"></script>
<!-- Popper 4.4.1 -->
<script src="/static/vendors/popperjs/popper.min.js"></script>
<!-- SlimScroll -->
<script src="/static/vendors/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<!-- FastClick -->
<script src="/static/vendors/fastclick/lib/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="/static/js/adminlte.min.js"></script>

<!-- bootbox -->
<script src="/static/vendors/bootbox/bootbox.min.js"></script>

<!-- datatables -->
<script src="/static/vendors/datatables/datatables.min.js"></script>

<!-- timepicker -->
<script src="/static/vendors/jonthornton-timepicker/jquery.timepicker.min.js"></script>

<!-- raphael -->
<script src="/static/vendors/raphael/raphael.min.js"></script>

<!-- morris -->
<script src="/static/vendors/morrisjs/morris.min.js"></script>

<script>
  $(document).ready(function () {

    $('#update_check').click(function(){
      update_check();
    });
  })

  //used to get cookies from browser - this is part of tornados xsrf protection - it's for extra security
    function getCookie(name) {
        var r = document.cookie.match("\\b" + name + "=([^;]*)\\b");
        return r ? r[1] : undefined;
    }

  function update_check(){
        bootbox.alert("{{ _('Getting Version Data') }}");

        $.ajax({
            type: 'GET',
            url: '/ajax/update_check',
            dataType: 'text',
            success: function (data) {
                bootbox.hideAll();
                console.log('Got Version Info From Server')
                bootbox.alert({
                    message: data,
                    backdrop: true,
                });
             },
        });
    }

    //identify the toggle switch HTML element
  const toggleSwitch = document.getElementById("input-switch");

  //function that changes the theme, and sets a localStorage variable to track the theme between page loads
  function switchTheme(e) {
      if (e.target.checked) {
          localStorage.setItem('theme', 'dark');
          document.documentElement.setAttribute('data-theme', 'dark');
          toggleSwitch.checked = true;
      } else {
          localStorage.setItem('theme', 'light');
          document.documentElement.setAttribute('data-theme', 'light');
          toggleSwitch.checked = false;
      }    
  }

  //listener for changing themes
  toggleSwitch.addEventListener('change', switchTheme, false);

  //pre-check the dark-theme checkbox if dark-theme is set
  if (document.documentElement.getAttribute("data-theme") == "dark"){
      toggleSwitch.checked = true;
  }

</script>

{% block js-script %}
{% end %}
</body>
</html>
